/* Global Styles */
body {
    background-color: #F9FAFC;
    font-family: 'Lato', sans-serif;
    color: #4f4c4a;
    line-height: 1.6;
}

.red-o {
    color: #ff5733;
}



.dark-bg {
    background-color: #071e37;
}

.main-bg {
    background-color: #F9FAFC;
}


.card:hover {
    transform: translateY(-7px);
}


.scale {
    width: 100%;
    height: auto;
}



/* Masthead container */
.masthead {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    height: 55vh;
    width: 100%;
    
}

/* Masthead text */
.masthead-text {
    background-color: #040404;
    color: #e4e5ee;
    position: relative;
    text-align: center;
    padding: 50px 0;
   
}

/* Masthead image container */
.masthead-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Skew overlay for image */
.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(68, 82, 97, 0.7);
    z-index: 1;
    transition: all 0.5s ease;
    opacity: 0; 
}

/* Hover effect for overlay */
.masthead-image:hover:after {
    opacity: 1; 
}

/* Masthead image */
.masthead-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease; 
}

/* Hover effect for image */
.masthead-image:hover img {
    transform: scale(1.1); 
}

/* Course Styles */
.course-link {
    text-decoration: none;
    color: #445261;
    font-size: 1.2rem;
}

.course-link:hover,
.page-link {
    color: #651606;
}

.course-title {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

.course-subtitle {
    margin-left: 5%;
    color: #6c757d;
    font-size: 1rem;
}

/* Button Styles */
.btn-signup,
.btn-edit {
    background-color: #b9e25b;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-edit:hover,
.btn-edit:active {
    background-color: #abf009;
}  

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #005f5f;
}

.link {
    color: #171f63;
    text-decoration: none;
    font-size: 1.2rem;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #e84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #e84610;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-delete:hover,
.btn-delete:active {
    background: #ff0000;
}

/* Miscellaneous Styles */
.faded {
    color: #acafaf;
}

.approval {
    color: #de92a8;
}

.navbar {
    padding: 15px 0;
}
.navbar-nav .nav-link:hover {
    color: #a807ff !important;
   
}
/* Title Style */
.title-container {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold
}


img {
    vertical-align: middle;
}

.card-footer {
    background-color: #adb2f0 !important;
    color: black !important;
    padding: 5px !important;
}


.card-footer small {
    font-weight: bold !important;
}

/* Carousel Styles */
#carouselExampleIndicators {
    max-width: 600px !important;
    margin: 0 auto !important;
}