{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex-shrink-0 main-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>Delete Course</h2>
                <p>Are you sure you want to delete the course titled "{{ course.title }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                    <a href="{% url 'course_detail' course.slug %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}