{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="row">
                {% for course in course_list %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="position-relative">
                            {% if "placeholder" in course.featured_image.url %}
                            <img class="card-img-top" src="{% static 'images/about.jpg' %}" alt="Placeholder Image">
                            {% else %}
                            <img class="card-img-top" src="{{ course.featured_image.url }}" alt="{{ course.title }}">
                            {% endif %}
                            <div class="overlay">
                                <a href="{% url 'course_detail' course.slug %}" class="overlay-link">
                                    <i class="fas fa-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title"><a href="{% url 'course_detail' course.slug %}">{{ course.title }}</a></h2>
                            <p class="card-text">{{ course.excerpt }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">By: {{ course.author }}</small>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active">
                    <span class="page-link">{{ i }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ paginator.num_pages }}">Last &raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}