{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <img src="{% static 'images/about.jpg' %}" width="50%">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Let's create culinary magic together!</h2>
            <p>Here at Culinary Academy, we live and breathe the art of cooking. We find sheer delight in sharing our
                passion with fellow food enthusiasts like you. Whether you're concocting a tantalizing new recipe,
                delving into advanced culinary techniques, or looking to collaborate on an exciting culinary endeavor,
                we're here to make it happen.Let's transform your culinary dreams into delectable realities! Share your
                ideas, projects, or simply reach out to brainstorm with us. Take a moment to fill out the form below,
                and let's embark on this culinary adventure together!</p>

            <!-- add your form here -->
            <form id="collaborate-form" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="email" name="email" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
            <!-- Form errors -->
            {% if messages %}
                <div id="message-container">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <script>
                    // Remove messages after 3 seconds
                    setTimeout(function() {
                        document.getElementById("message-container").innerHTML = "";
                    }, 3000);
                </script>
            {% endif %}
        </div>
    </div>
</div>

</script>
{% endblock content %}